<style>

  .gray-text {
    color: gray;
  }

  header {
    text-align: center;
    text-transform: uppercase;
    font-family: Georgia; 
  }

  body{
      background-color: #A8D3F2
  }
    
  title {
    text-align: center;
    text-transform: uppercase;
    font-family: Georgia; 
  }

  h1{
    text-align: center;
    font-family: Georgia; 
    text-transform: uppercase;
  }

  figure{
    text-align: center;
    font-family: Georgia; 
  }

  p{
    text-align: center;
    font-family: Georgia; 
    font-size: large;
  }

  p2 {
    text-align: right;
    font-family: Georgia; 
  }

  .boxed {
     border: 1px solid green;
     background-color: #A8D3F2
     width: auto;
     padding: 20px;
  }

  ol{
    text-align: center;
    font-family: Georgia; 
    padding: 100px;
}

  footer {
    text-align: center;
    font-family: Georgia; 
    color: gray;
  }

.wrapper {
    padding: 60px;
    width: 80%;
    margin: auto;
    align-items: stretch;
    font-weight: bold;
    font-size-adjust: auto;
}

img {
    border: solid;
    border-color: #F984FC;
    border-width: 750px;
}
 
</style>
