<style>
  .gray-text {
    color: gray;
  }
  header {
    text-align: center;
    text-transform:uppercase;
    font-family: Georgia; 
  }
  body{
      background-color: #A8D3F2
}
    
  title {
    text-align: center;
    text-transform:uppercase;
    font-family: Georgia; 
}
  h1{
    text-align: center;
   font-family: Georgia; 
  }
  figure{
    text-align: center;
    font-family: Georgia; 
  }
  p{
    text-align: center;
    font-family: Georgia; 
  }
  .boxed {
     border: 1px solid green;
     background-color: #A8D3F2
     width: auto;
     padding: 20px;
}
  ol{
    text-align: center;
    font-family: Georgia; 
  }
  footer {
    text-align: center;
    font-family: Georgia; 
    color: gray;
  }
 
</style>
